USE [master]
GO
/****** Object:  Database [Quan_Ly_Sinh_Vien]    Script Date: 6/18/2023 10:48:46 PM ******/
CREATE DATABASE [Quan_Ly_Sinh_Vien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quan_Ly_Sinh_Vien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quan_Ly_Sinh_Vien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quan_Ly_Sinh_Vien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Quan_Ly_Sinh_Vien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quan_Ly_Sinh_Vien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quan_Ly_Sinh_Vien]
GO
/****** Object:  Table [dbo].[Chuong_Trinh_Hoc]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong_Trinh_Hoc](
	[Ma_CT] [varchar](10) NOT NULL,
	[Ten_CT] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giang_Khoa]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giang_Khoa](
	[Ma_CT] [varchar](10) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
	[MaMH] [varchar](10) NOT NULL,
	[Nam_Hoc] [int] NOT NULL,
	[Hoc_Ky] [int] NULL,
	[STLT] [int] NULL,
	[STTH] [int] NULL,
	[So_Tin_Chi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_CT] ASC,
	[Ma_Khoa] ASC,
	[MaMH] ASC,
	[Nam_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ket_Qua]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ket_Qua](
	[MaSV] [varchar](10) NOT NULL,
	[MaMH] [varchar](10) NOT NULL,
	[Lan_Thi] [int] NOT NULL,
	[Diem_Thi] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC,
	[Lan_Thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Ma_Khoa] [varchar](10) NOT NULL,
	[Ten_Khoa] [nvarchar](100) NULL,
	[Nam_Thanh_Lap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa_Hoc]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa_Hoc](
	[Ma_Khoa_Hoc] [varchar](10) NOT NULL,
	[Nam_Bat_Dau] [int] NULL,
	[Nam_Ket_Thuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Khoa_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[Ma_Lop] [varchar](10) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
	[Ma_Khoa_Hoc] [varchar](10) NOT NULL,
	[Ma_CT] [varchar](10) NOT NULL,
	[STT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon_Hoc]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon_Hoc](
	[MaMH] [varchar](10) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
	[TenMH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinh_Vien]    Script Date: 6/18/2023 10:48:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinh_Vien](
	[MaSV] [varchar](10) NOT NULL,
	[Ho_Ten] [nvarchar](100) NULL,
	[Nam_Sinh] [int] NULL,
	[Dan_Toc] [nvarchar](20) NULL,
	[Ma_Lop] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Giang_Khoa]  WITH CHECK ADD FOREIGN KEY([Ma_CT])
REFERENCES [dbo].[Chuong_Trinh_Hoc] ([Ma_CT])
GO
ALTER TABLE [dbo].[Giang_Khoa]  WITH CHECK ADD FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[Giang_Khoa]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[Mon_Hoc] ([MaMH])
GO
ALTER TABLE [dbo].[Ket_Qua]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[Mon_Hoc] ([MaMH])
GO
ALTER TABLE [dbo].[Ket_Qua]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[Sinh_Vien] ([MaSV])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([Ma_CT])
REFERENCES [dbo].[Chuong_Trinh_Hoc] ([Ma_CT])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([Ma_Khoa_Hoc])
REFERENCES [dbo].[Khoa_Hoc] ([Ma_Khoa_Hoc])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[Mon_Hoc]  WITH CHECK ADD FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[Sinh_Vien]  WITH CHECK ADD FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[Lop] ([Ma_Lop])
GO
USE [master]
GO
